<div class="panel panel-default">
    <div class="panel-body">
        <form id="player-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="container border border-default rounded">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="username">Username <span *ngIf="(username.invalid && (username.dirty || username.touched))" class='text-danger'>(required)</span></label>
                        <input required name="username" #username="ngModel" [ngModel]="player?.username" type="text" id="username" class="form-control required" size="120" max="120">
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="password">Password <span *ngIf="(password.invalid && (password.dirty || password.touched))" class='text-danger'>(required)</span></label>
                        <input required name="password" #password="ngModel" [ngModel]="player?.password" type="text" id="password" class="form-control required" size="120" max="120">
                    </div>

                    <div class="col-sm-2 form-group">
                        <label for="first_name">First Name <span *ngIf="(first_name.invalid && (first_name.dirty || first_name.touched))" class='text-danger'>(required)</span></label>
                        <input required name="first_name" #first_name="ngModel" [ngModel]="player?.first_name" type="text" id="first_name" class="form-control required" size="120" max="120">
                    </div>

                    <div class="col-sm-2 form-group">
                        <label for="last_name">Last Name </label>
                        <input name="last_name" #last_name="ngModel" [ngModel]="player?.last_name" type="text" id="last_name" class="form-control required" size="120" max="120">
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="image_url">Image URL </label>
                        <input name="image_url" [ngModel]="player?.image_url" #image_url="ngModel" type="text" id="image_url" class="form-control" size="150" max="255">
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="game_piece_url">Game Piece URL </label>
                        <input name="game_piece_url" [ngModel]="player?.game_piece_url" #game_piece_url="ngModel" type="text" id="game_piece_url" class="form-control" size="150" max="255">
                    </div>
                </div>
            </div>

            <div *ngIf="(first_name.invalid && (first_name.dirty || first_name.touched)) || (username.invalid && (username.touched || username.dirty)) || (password.invalid && (password.dirty || password.touched))" class="alert alert-danger">Please ensure that you have filled out the required fields properly.
            </div>
            <div class="row">
                <div class="col-xs-12 btn-group">
                    <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
                    <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>