<div class="container">
    <div class="row">
        <div class="col-md-5">
            <cms-document-list (selectedDocumentEvent)="selectedDocument = $event"></cms-document-list>
        </div>

        <div class="col-md-7">
            <cms-document-detail *ngIf="selectedDocument; else text" [document]='selectedDocument'></cms-document-detail>

            <ng-template #text>
                <p>Please select a document from the list.</p>
            </ng-template>

        </div>
    </div>
</div>