<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row pad-left-right">
            <span class="pull-left title">Players</span>
            <a [routerLink]="['new']" class="btn btn-success pull-right">Create New Player</a>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="center-panel">
            <app-player-item *ngFor="let player of players" [player]="player" [routerLink]="[player.id]"></app-player-item>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>