<nav class="page-header">
    <div class="navbar-left">
        <div class="header header-default">
            <div class="navbar-left">
                <a href="#" class="navbar-brand">Acquire</a>
            </div>
            <div class="list-group">
                <ul class="list-group pull-right">
                    <li class="navbar-link" routerLinkActive="active"><a [routerLink]="['/admin/players']">Players</a></li>
                    <li class="navbar-link" routerLinkActive="active"><a [routerLink]="['/games']">Games</a></li>
                    <li class="navbar-link" routerLinkActive="active"><a [routerLink]="['/scores']">Scores</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>